$primary-bg-color: #111;
$secondary-bg-color: #b8b9b9;
$text-color: #574c4c;
$light-gray: #555858;
$light-text: #6d6565;
$highlight-color: #e74c3c;

$font-family: 'Helvetica Neue', Arial, sans-serif;
$header-font-size: 2.5em;
$body-font-size: 1.1em;
$base-line-height: 1.6;
$letter-spacing: 10px;

$padding-small: 0.8em;
$padding-medium: 1.5em;
$padding-large: 3em;
$border-radius: 8px;
$nav-bar: background-color #f8f9fa border none;


